.bola {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    background-color: #FFFF00;
    display: block;
    margin: 0px auto;
}

.ball{
    border-radius: 50%;
    height: 19px;
    width: 19px;
    border: 1px solid #000000;
    display: inline-block;
    margin-bottom: 20px;
}

.ballmongol{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #000000;
    background-color: #FFFF00;
}

.centertable{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.background{
    background-image: url(imagens/background.jpg)
}

p {
    color: black;
}

.apam{
    text-align: center;
    color:#5A464C;
}

.gifs{
    width:400px;
    height:350px;
}

.centerEdgarTable{
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .paddingText{
    margin-top: -40px;
  }